.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 898px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 50px 391px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-family: Inter;
  font-weight: 700;
  margin: -56px 0 0 1062px;
  padding: 10px 15px 10px 13px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  font-family: Inter;
  font-weight: 700;
  margin: -49px 107px 0 906px;
  padding: 10px 15px 10px 13px;
}

.u-section-1 .u-text-2 {
  font-family: Inter;
  margin: 7px 510px 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 40px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 345px;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 30px;
}

.u-section-1 .u-image-1 {
  width: 1051px;
  height: 314px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 334px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  width: 340px;
  left: 30px;
  right: auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 334px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin: 40px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 191px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 862px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 7px;
    margin-left: 806px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 310px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 284px;
  }

  .u-section-1 .u-image-1 {
    width: 880px;
    height: 263px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 275px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 642px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 593px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 197px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 211px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -31px;
    margin-left: 462px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 413px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -18px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 164px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 155px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 262px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 213px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 103px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 200px;
  }
}